body::-webkit-scrollbar {
  width: 1rem;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #302E2F;
}

body::-webkit-scrollbar-track {
  background: #302E2F;
}

body::-webkit-scrollbar-thumb {
  background-color: #8B8989 ;
  border-radius: .5rem;
  background: #8B8989;
  border: 1px solid #8B8989;
}
